<div id="<%= dom_id guest %>" class="container">
<% if guest.user_id == current_user.id %>

  <p class="text-muted mt-2 fw-bold fs-1">
    <%= guest.name %>
  </p>

  <p>
    <strong class="text-muted mt-2 fw-bold fs-5">Data de nascimento:</strong>
    <%= guest.birthday %>
  </p>

  <p>
    <strong class="text-muted mt-2 fw-bold fs-5" >Genêro:</strong>
    <%= guest.gender ? "Masculino" : "Feminino" %>
  </p>

  <p>
    <strong class="text-muted mt-2 fw-bold fs-5" >Observação</strong>
    <textarea class="form-control mt-1" readonly><%= guest.observation %></textarea>
  </p>
<% end %>

</div>
