
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form' }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<div class="row-my-login border p-5 color_top_nav_log mt-4 mb-4">
<p class="navbar-brand fs-3" href="#"><i class="fa-solid fa-square-h"></i>MyHotel.com</p>

  <div class="form-group">
    <%= f.label :email, class: 'fw-bold' %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: "email@example.com" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label 'Nova senha', class: 'fw-bold' %>
    <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
    <% if @minimum_password_length %>
      <small><em>Mínimo <%= @minimum_password_length %> caracteres.</em></small>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label 'Confirme a nova senha', class: 'fw-bold' %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label 'Digite a senha atual', class: 'fw-bold' %>
    <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>
  </div>

  <div class="form-actions d-flex gap-3 mt-2 justify-content-center align-items-center">
      <%= f.submit "Atualizar", class: 'btn btn-primary bttn-width' %>
      <%= link_to "Voltar", :back, class: 'btn btn-secondary bttn-width' %>
  </div>
<% end %>
</div>



