<div class="row-my-login border p-5 color_top_nav_log mt-4 mb-4 rounded">
<p class="navbar-brand fs-3" href="#"><i class="fa-solid fa-square-h"></i>MyHotel.com</p>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group mt-2">
    <%= f.label :name, class: 'fw-bold' %><br/>
    <%= f.text_field :name, autofocus: true, class: 'form-control', required: true %>
  </div>

  <div class="form-group mt-2">
    <%= f.label :email, class: 'fw-bold' %><br />
    <%= f.email_field :email, autocomplete: "email", class: 'form-control' %>
  </div>

  <div class="form-group mt-2">
    <%= f.label :password,"Senha", class: 'fw-bold' %>
    <% if @minimum_password_length %>
    <em>(Mínimo 6 caracteres)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
  </div>

  <div class="form-group mt-2">
    <%= f.label :password_confirmation,"Confirme sua senha", class: 'fw-bold' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "Cirar conta", class: "btn btn-primary mt-3" %>
  </div>
<% end %>
</div>

