
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<div class="row-my-login border p-5 color_top_nav_log mt-4 mb-4 rounded">
<p class="navbar-brand fs-3" href="#"><i class="fa-solid fa-square-h"></i>MyHotel.com</p>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit "Enviar instruções", class:"btn btn-primary mt-3" %>
  </div>
<% end %>
<%= render "devise/shared/links" %>
</div>

