<div id="<%= dom_id financial_account %>"class="container">
  <% if financial_account.user_id == current_user.id %>

  <p class="text-muted mt-2 fw-bold fs-1">
    <%= financial_account.bank %>
  </p>

  <p>
    <strong class="text-muted mt-2 fw-bold fs-5">Nome da conta:</strong>
    <%= financial_account.name_account %>
  </p>

  <p>
    <strong class="text-muted mt-2 fw-bold fs-5" >Número da conta:</strong>
    <%= financial_account.number_account  %>
  </p>

  <p>
    <strong class="text-muted mt-2 fw-bold fs-5" >Agência:</strong>
    <%= financial_account.agency  %>
  </p>

  <p>
    <strong class="text-muted mt-2 fw-bold fs-5" >Hotel:</strong>
    <%= financial_account.hotel.name %>
  </p>


  <p>
    <strong class="text-muted mt-2 fw-bold fs-5" >Observação</strong>
    <textarea class="form-control mt-1" readonly><%= financial_account.description %></textarea>
  </p>
  
  <% end %>

</div>
