<%= form_with(model: hotel) do |f| %>
  <% if hotel.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(hotel.errors.count, "error") %> prohibited this hotel from being saved:</h2>

      <ul>
        <% hotel.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="row gy-3">

      <div class="col-md-6">
        <%= f.label :name, style: "display: block", class: "fw-bold text-muted" %>
        <%= f.text_field :name, class: "form-control mb-3" %>
      </div>

      <div class="col-md-6">
        <%= f.label :cnpj, style: "display: block", class: "fw-bold text-muted" %>
        <%= f.text_field :cnpj, class: "form-control mb-3" %>
      </div>

    </div>

    <div>
      <%= f.label "Telefone", style: "display: block", class: "fw-bold text-muted" %>
      <%= f.text_field :phone, class: "form-control mb-3" %>
    </div>

    <div>
      <%= f.label "Responsável", style: "display: block", class: "fw-bold text-muted" %>
      <%= f.text_field :responsible, class: "form-control mb-3"%>
    </div>

    <div>
      <%= f.label "Tipo do hotel", style: "display: block", class: "fw-bold text-muted" %>
      <%= f.select :hotel_type, Hotel::HOTEL_TYPES, {}, class: "form-select" %>
    </div>

    <div class="d-flex gap-2 mt-3">
      <%= f.submit @hotel.new_record? ? "Criar hotel" : "Atualizar hotel", class: "btn btn-sm btn-primary" %>
      <%= link_to "Voltar", hotels_path, class: "btn btn-sm btn-secondary" %>
    </div>

  </div>
<% end %>
