<% if user_signed_in? %>
<div class="dropdown d-print-none me-5">
  <button class="btn btn-secondary dropdown-toggle me-5 text-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <%= current_user.name %>
  </button>
  <ul class="dropdown-menu">
    <li>
        <%= link_to "Editar", edit_user_registration_path, class:"dropdown-item" %> 
    </li>
    <li><hr class="dropdown-divider"></li>
    <li>
        <%= link_to "Sair", destroy_user_session_path, method: :delete, class:"dropdown-item"%>
    </li>
  </ul>
</div>
<% else %>
    <%= link_to "Entrar", new_user_session_path, class:"me-4 text-white" %>
    <%= link_to "Criar conta", new_user_registration_path, method: :delete, class:"me-5 text-white btn btn-sm btn-secondary" %>
<%end%>
